@import "../../app.scss";

.portfolio{
    position: relative;
    .progress{
        position: sticky;
        top: 0;
        left: 0;
        padding-top: 50px;
        text-align: center;
        color: orange;
        font-size: 36px;
        background-color: #0c0c1d;

        @include mobile{
            // padding-top: calc(100vh - 1000px);
            font-size: 24px ;
            bottom: 0;
        }


        .progressBar{
            height: 10px;
            background-color: #fff;
            border-radius: 30%;
        }

    }

    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        overflow: hidden;

        .wrapper{
            max-width: 1366px;
            height: 100%;
            margin: auto;
            display: flex;
            // flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 50px;

            @include mobile{
                flex-direction: column;
            }
            
            .imgContainer{
                padding-top: 400px;
                flex-direction: column;
                flex: 1;
                height: 50%;

                @include mobile{
                    width: 100%;
                    padding-top: 150px;
                    // display: block;
                    max-height: 300px;
                }

                img{
                    
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    overflow: hidden;
                    border-radius: 50px;

                    @include mobile{
                        object-fit: contain;
                    }
                }
            }

            .textContainer{
                padding-top: 400px;
                flex:1;
                display: flex;
                flex-direction: column;
                gap: 30px;
                @include mobile{
                    padding: 10px;
                    align-items: center;
                    text-align: center;
                }

                h2{
                    font-size: 72px;
                }

                p{
                    color: gray;
                    font-size: 20px;
                }
                button{
                    background-color: orange;
                    border: none;
                    border-radius: 10px;
                    padding: 10px;
                    width: 200px;
                    cursor: pointer;
                }
            }
        }

    }

}